{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

Hello, {{ user }}! 

<h3><u>Your feed</u>:</h3>

{% if post_list %}
    <ul>
    {% for article in post_list %}
        <li><a href="{% url 'main:post' article.id %}">{{ article.header }}</a> <i>({{ article.user.username }}, {{ article.pub_date }})</i></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}

<p>Also you can <a href="{% url 'main:new_post' %}">add new article</a>.</p>

<h3><u>Your subscribtions</u>:</h3> 
{% if subscriptions %}
  {{ subscriptions }}.
{% else %}
  <p>You are not following any users.</p>
{% endif %}

<p>You can <a href="{% url 'main:subscriptions' %}">change subscriptions list</a>.</p>

<hr>
<u>Optional region</u>.
<p>The list of followers:
{{ followers_list }}</p>