{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

Hello, {{ user }}. 
Your subscribe: 
{% for user in users %}
{{ user.username }},
{% endfor %}

{% if post_list %}
    <ul>
    {% for article in post_list %}
        <li><a href="{% url 'main:post' article.id %}">{{ article.header }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}


<hr>
<u>Optional region</u>.
<p>The list of id user-objects on which the current user is following:
{{ subscribe_list }}</p>