{% extends "main/base.html" %}
{% block content %}
  <h2>{{ article.header }}</h2>
  <i>Published &ndash; {{ article.pub_date }} by {{ article.user.username }}</i>
  <br><br>
  {% if article.id in readed_articles %}
    <a href="{% url 'main:post_mark' article.id 'unread' %}">Mark unreaded and return</a>
  {% else %}
    <a href="{% url 'main:post_mark' article.id 'read' %}">Mark readed and return</a>
  {% endif %}
    | <a href="{% url 'main:index' %}">Return without marking</a>
  <div class="content">
    {{ article.content }}
    {% lorem 3 p %}
  </div>
{% endblock %}